@page "/"
@using TarefasBlazor.Models
@using Task = TarefasBlazor.Models.Task

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {

    private List<Task> tasks = [];

}