@page "/"
@using TarefasBlazor.Pages.Components
@inherits HomeBase;
<PageTitle>Home</PageTitle>

<MudContainer>
    <MudGrid Class="my-3">
        <MudItem xs="12" md="4">
            <MudTextField @bind-Value="_description" Disabled="_loading" Label="Nova Tarefa" Variant="Variant.Outlined"></MudTextField>
            @if (_hasErrors)
            {
                <MudAlert Class="mt-2" Dense="true" Severity="Severity.Error">Campo não pode ser vazio</MudAlert>
            }
        </MudItem>
        <MudItem xs="12" md="8" Align="@Align.Start" Class="mt-3">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" @onclick="AddTask">Cadastrar</MudButton>
        </MudItem>
    </MudGrid>

    @if (_tasks == null)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true"/>
    }
    else if (!_tasks.Any())
    {
        <AlertMessage Message="Nenhuma tarefa cadastrada!">
            <p>Sem tarefas!</p>
        </AlertMessage>
    }
    else
    {
        <TasksList Tasks="_tasks" IsLoading="_loading" RemoveTarefa="DeletaTarefa"/>
    }

</MudContainer>
