@page "/Images"

<h3>Images</h3>
<MudGrid>
    <MudItem xs="12" Align="@Align.Center">
        <ImageView
            Src="/images/jdm_wallpaper.jpg" 
            Height="@Convert.ToInt32(250)" 
            Alt="Swedish Farm House" 
            Class="rounded-lg ma-4"/>
    </MudItem>
</MudGrid>